*{
    margin: 0%;
}
header{
    background: color #f8f8f8;;
    display: flex;
    padding: 40px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25) ;
}
li{
    display: inline-block;
    margin-right: 10px;
}
nav{
    margin-left: auto;
}